.register {
  background-color: white; 
  border-radius: 15px;
  margin: 40px;
  padding: 15px;
  padding-left: 50px;
}

.form {
  margin: 0;
  font-family: arial;
}

.input {
  margin-top: 5px;
  margin-bottom: 15px;
  width: 90%;
  height: 25px;
  border-radius: 20px;
  border: none;
  background-color: #e3e3e3;
  font-size: 17px;
  padding-left: 10px;
}

.req_input {
  width: 80%;
  height: 25px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
  background-color: #e3e3e3;
  font-size: 17px;
  padding-left: 10px;
  margin: 1px;
}

.add {
  height: 27px;
  width: 10%;
  background-color: #e3e3e3;
  border: none;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  margin: 1px;
  vertical-align: top;
  cursor: pointer;
}

.number {
  margin-top: 5px;
  margin-bottom: 15px;
  width: 40px;
  height: 25px;
  border-radius: 20px;
  border: none;
  background-color: #e3e3e3;
  font-size: 17px;
  padding-left: 10px;
  padding-right: 5px;
}

.title {
  margin-bottom: 15px;
}

.check {
margin-bottom: 13px;
margin-left: 5px;
}

.admin_checkbox {
  display: flex;
}

.admin_title {
  margin-bottom: 15px;
}

.submit {
  background-color: #f19406;
  height: 25px;
  width: 100px;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin-right: 15px;
}

.navbar {
  display: flex;
  background-color: white;
  font-family: arial;
  height: 40px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 20px;
  margin-left: 25px;
}

.navlinks {
  display: flex;
  margin-right: 200px;
}

.nav_link {
  margin-right: 20px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: #f19406;
  padding: 15px;
  font-family: arial;
  color: white;
  cursor: pointer;
}

.mappedTasks {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task {
  margin: 10px 10%;
  margin-right: 150px;
  width: 500px;
  min-height: 100px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding: 10px;
}

.left, .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accept {
  align-self: flex-end;
  margin-left: 5px;
}

.personal_button {
  margin-bottom: 7px;
}

.time_btn {
  display: flex;
}

.timespan {
  font-size: 20px;
  margin-right: 3px;
}

.timestamp {
  width: 50px;
  margin-left: 10px;
}

.username {
  margin-right: 8px;
}

.down_arrow {
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid black;
  margin-left: 15px;
  margin-top: 5px;
  cursor: pointer;
}


.up_arrow {
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid black;
  margin-left: 15px;
  margin-top: 3px;
  cursor: pointer;
}

.description {
  font-family: arial;
  margin-top: 15px;
  margin-left: 10px;
  font-size: 17.5px;
}

.requiremnets {
  font-family: arial;
  font-size: 17.5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.dropdown {
  margin: 8px;
  margin-left: 0px;
  margin-top: 0px;
  height: 30px;
  width: 180px;
  background-color: #f19406;
  border: none;
  border-radius: 20px;
  padding: 1px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.location_dropdown {
  padding-left: 21px;
}

.location {
  margin-top: 10px;

}

.graph {
  display: flex;
}

.completed {
  font-family: arial;
  margin-top: 15px;
  margin-left: 25px;
}

.chart {
  position: relative;
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 330px;
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 0px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  margin: 20px;
  margin-left: 0px;
  margin-top: 0px;
  background-color: white;
}

.y_axsis {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 320px;
  width: 60px;
  margin-left: 10px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  padding-left: 5px;
  padding-bottom: 15px;
}

.label {
  margin-top: 17px;
  align-self: flex-start;
}

.bar {
  width: 30px;
  background-color: #007bff;
  margin-right: 5px;
}

.line {
  position: absolute;
  background-color: black;
  width: 94%;
  height: 1px;
  bottom: 18px;
}

.stats_block {
  display: grid;
  width: 100%;
  margin: 10px 0px;
}

.user_stat1 {
  grid-row: 1;
  font-family: arial;
  justify-self: start;
  margin-left: 20px;
}

.user_stat2 {
  grid-row: 1;
  font-family: arial;
  justify-self: center;
}

.user_stat3 {
  grid-row: 1;
  font-family: arial;
  justify-self: end;
  margin-right: 20px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: black;
}

.stats_header {
  height: 60px;
  background-color: #f19406;
  display: flex;
  align-items: center;
}

.stats_header .form {
  margin-left: 20px;
  color: white;
}

.stats_header .dropdown {
  background-color: white;
  color: black;
  margin-left: 10px;
}