.register {
  background-color: white;
  border-radius: 15px;
  margin: 40px;
  padding: 15px;
  padding-left: 50px;
}

.form {
  margin: 0;
  font-family: arial;
}

.input {
  background-color: #e3e3e3;
  border-radius: 20px;
  border: none;
  font-size: 17px;
  height: 25px;
  margin-bottom: 15px;
  margin-top: 5px;
  padding-left: 10px;
  width: 90%;
}

.req_input {
  background-color: #e3e3e3;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border: none;
  font-size: 17px;
  height: 25px;
  margin: 1px;
  padding-left: 10px;
  width: 80%;
}

.add {
  background-color: #e3e3e3;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border: none;
  cursor: pointer;
  height: 27px;
  margin: 1px;
  vertical-align: top;
  width: 10%;
}

.number {
  background-color: #e3e3e3;
  border-radius: 20px;
  border: none;
  font-size: 17px;
  height: 25px;
  margin-bottom: 15px;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
  width: 40px;
}

.title {
  margin-bottom: 15px;
}

.check {
  margin-bottom: 13px;
  margin-left: 5px;
}

.admin_checkbox {
  display: flex;
}

.admin_title {
  margin-bottom: 15px;
}

.submit {
  background-color: #f19406;
  border-radius: 50px;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  height: 25px;
  margin-right: 15px;
  width: 100px;
}

.navbar {
  align-items: center;
  background-color: white;
  display: flex;
  font-family: arial;
  height: 40px;
  justify-content: space-between;
}

.logo {
  font-size: 20px;
  margin-left: 25px;
}

.nav_links {
  display: flex;
  margin-right: 200px;
}

.nav_link {
  cursor: pointer;
  margin-right: 20px;
}

.header {
  background-color: #f19406;
  color: white;
  cursor: pointer;
  display: flex;
  font-family: arial;
  justify-content: space-around;
  padding: 15px;
}

.mapped_tasks {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-column: 2;
}

.task {
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  margin: 10px 10%;
  margin-right: 150px;
  min-height: 100px;
  padding: 10px;
  width: 500px;
}

.left, .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left {
  width: 400px;
}

.right {
  width: 100px;
}

.accept {
  align-self: flex-end;
  margin-left: 5px;
}

.personal_button {
  margin-bottom: 7px;
}

.time_btn {
  display: flex;
}

.timespan {
  font-size: 20px;
  margin-right: 3px;
}

.timestamp {
  margin-left: 10px;
  width: 50px;
}

.username {
  margin-right: 8px;
}

.down_arrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid black;
  cursor: pointer;
  height: 0;
  margin-left: 15px;
  margin-top: 5px;
  transform: translateX(-50%);
  width: 0;
}


.up_arrow {
  border-bottom: 15px solid black;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  cursor: pointer;
  height: 0;
  margin-left: 15px;
  margin-top: 3px;
  transform: translateX(-50%);
  width: 0;
}

.description {
  font-family: arial;
  font-size: 17.5px;
  margin-left: 10px;
  margin-top: 15px;
}

.requiremnets {
  font-family: arial;
  font-size: 17.5px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.dropdown {
  background-color: #f19406;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  height: 30px;
  margin: 8px;
  margin-left: 0px;
  margin-top: 0px;
  padding: 1px;
  width: 180px;
}

.location_dropdown {
  padding-left: 21px;
}

.location {
  margin-top: 10px;

}

.graph {
  display: flex;
}

.completed {
  font-family: arial;
  margin-left: 25px;
  margin-top: 15px;
}

.chart {
  align-items: flex-end;
  background-color: white;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex: 1;
  height: 330px;
  justify-content: space-between;
  margin: 20px;
  margin-left: 0px;
  margin-top: 0px;
  padding: 20px;
  padding-bottom: 0px;
  padding-top: 5px;
  position: relative;
}

.y_axsis {
  background-color: white;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 320px;
  justify-content: space-between;
  margin-left: 20px;
  padding-bottom: 15px;
  padding-left: 10px;
  width: 50px;
}

.label {
  align-self: flex-start;
  margin-top: 17px;
}

.bar {
  background-color: #007bff;
  margin-right: 5px;
  width: 30px;
}

.line {
  background-color: black;
  bottom: 18px;
  height: 1px;
  position: absolute;
  width: 93%;
}

.stats_block {
  display: grid;
  margin: 10px 0px;
  width: 100%;
}

.user_stat1 {
  font-family: arial;
  grid-row: 1;
  justify-self: start;
  margin-left: 20px;
  width: 70px;
}

.user_stat2 {
  font-family: arial;
  grid-row: 1;
  justify-self: center;
}

.user_stat3 {
  font-family: arial;
  grid-row: 1;
  justify-self: end;
  margin-right: 20px;
  width: 70px;
}

.divider {
  background-color: black;
  height: 1px;
  width: 100%;
}

.stats_header {
  align-items: center;
  background-color: #f19406;
  display: flex;
  height: 60px;
}

.stats_header .form {
  color: white;
  margin-left: 20px;
}

.stats_header .dropdown {
  background-color: white;
  color: black;
  margin-left: 10px;
}

@media screen and (min-width: 1200px) {
  .task {
    width: 800px
  }

  .left {
    width: 700px;
  }

  .register {
    margin: 40px 300px;
  }

  .chart {
    margin-right: 200px;
  }

  .y_axsis {
    margin-left: 200px;
  }

  .completed {
    margin-left: 220px;
  }

  .logo {
    margin-left: 30px;
  }

  .line {
    width: 95%;
  }
}